#egg-services{
	padding: 60px 0;
	.egg-container{
		.egg-group-title{
			width: 100%;
			float: left;
			
			.egg-title{
				line-height: 76px;
				margin-bottom: 20px;
				span{
					display: block;
					font-size: 96px;
					font-weight: 700;
				}
			}
			.egg-describle{
				width: 100%;
				float: left;
				p{
					font-family: $fontMain;
					font-size: 23;
				}
			}
		}

		.egg-group-services{
			width: 100%;
			float: left;
			margin-top: 30px;
			
			> ul{
				width: 100%;
				float: left;

				> li{
					position: relative;
					float: left;
					margin-right: 65px;
					
					> a{
						display: block;
						overflow: hidden;
						text-indent: -999em;	
					}
					
					.egg-drop{
						width: 550px;
						float: left;
						padding: 30px;
						background-color: $color-dark;
						position: absolute;
						left: 0;
						top: 135px;
						z-index: 2;
						visibility: hidden;
						opacity: 0;
						@include animation(.2s, ease);

						&:after{
							content: '';
							width: 0;
							height: 0;
							border-left: 25px solid transparent;
							border-right: 25px solid transparent;
							border-bottom: 20px solid $color-dark;
							position: absolute;
							left: 28px;
							top: -20px;
						}

						.egg-group{
							
							figure{
								width: 100%;
								float: left;

								.egg-img{
									width: 29%;
									float: left;
									margin-right: 1%;
								}

								figcaption{
									width: 70%;
									float: left;

									.egg-describle{
										width: 100%;
										float: left;
										padding-left: 30px;
										h3{
											font-family: $fontHighlight;
											font-weight: 700;
											font-size: 30px;
											text-align: left;
											display: block;
											margin-bottom: 10px;
										}
										ul{
											width: 100%;
											float: left;
											list-style: initial;
											
											li{
												text-align: left;
												display: block;
												margin-bottom: 5px;
												font-size: 14px;
												list-style: initial;
												span{
													display: none;
												}
											}
										}
									}
								}
							}
						}
					}

					&:hover{
						.egg-drop{
							visibility: visible;
							opacity: 1;
						}
					}

					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6){
						.egg-drop{
							left: initial;
							right: 0;
							&:after{
								left: initial;
								right: 28px;
							}
						}
					}
				}
			}
		}
	}
}