.egg-row{
	width: 100%;
	float: left;
}

.egg-container{
	max-width: 1000px;
	margin: 0 auto;
}

.egg-group-title{
	*{
		font-family: $fontHighlight;
	}
}

#egg-load{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: $color_light;
	z-index: 150;

	.egg-img-load{
		width: 100%;
		height: 100%;
		position: fixed;
		background-image: url('../img/loader.gif');
		background-position: center;
		background-repeat: no-repeat;
	}
}

// colors
.egg-dark{
	color: $color-dark;
}

.egg-yellow{
	color: $color-yellow;
}

.egg-light{
	color: $color-light;
}

.egg-gray{
	color: $color-gray;
}

// backgrounds
.egg-bg-dark{
	background-color: $color-dark;
}

.egg-bg-yellow{
	background-color: $color-yellow;
}

.egg-bg-light{
	background-color: $color-light;
}

.egg-bg-gray{
	background-color: $color-gray;
}
