/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-logo-footer {
  background-image: url(../img/sprite-crash.png);
  background-position: -106px -214px;
  width: 153px;
  height: 38px;
}
.icon-logo-header {
  background-image: url(../img/sprite-crash.png);
  background-position: -106px -252px;
  width: 52px;
  height: 52px;
}
.icon-logo-video {
  background-image: url(../img/sprite-crash.png);
  background-position: 0px -214px;
  width: 106px;
  height: 106px;
}
.icon-service-3d {
  background-image: url(../img/sprite-crash.png);
  background-position: 0px 0px;
  width: 107px;
  height: 107px;
}
.icon-service-audio {
  background-image: url(../img/sprite-crash.png);
  background-position: -107px 0px;
  width: 107px;
  height: 107px;
}
.icon-service-midia {
  background-image: url(../img/sprite-crash.png);
  background-position: 0px -107px;
  width: 107px;
  height: 107px;
}
.icon-service-midiaon {
  background-image: url(../img/sprite-crash.png);
  background-position: -107px -107px;
  width: 107px;
  height: 107px;
}
.icon-service-video {
  background-image: url(../img/sprite-crash.png);
  background-position: -214px 0px;
  width: 107px;
  height: 107px;
}
.icon-service-web {
  background-image: url(../img/sprite-crash.png);
  background-position: -214px -107px;
  width: 107px;
  height: 107px;
}
